@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */

.custom-underline {
    position: relative;
    display: inline-block;
  }
  
  .custom-underline::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px; /* Underline thickness */
    background-color: goldenrod; /* Default color */
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%); /* Ensure it starts from the center */
  }
  
  .custom-underline:hover::after {
    width: 100%; /* Make the underline fill the whole width */
    background-color: #D1AF97; /* Change color on hover */
  }
  /* Tailwind utilities */
.category-label {
    @apply mt-2 block sm:text-lg text-gray-600 font-normal text-center;
    height: 3rem; /* Adjust this height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Hides the scrollbar */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hidden {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  